* text=auto

*.md text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ino text eol=lf
*.py text eol=lf
*.m text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.csv text eol=lf

*.png binary
*.jpg binary
*.pdf binary
*.pptx binary
*.slx binary
